@using fondo9Sa3ada.Models
@model LoginViewModel
@{
    ViewBag.Title = "Se connecter";
}

<div class="container text-center">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <hr />
            <h2>@ViewBag.Title.</h2>
            @Html.AntiForgeryToken()
            <h4>Utilisez un compte local pour vous connecter.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "block mb-2 text-sm font-medium text-gray-900" })
                <div class="">
                    @Html.TextBoxFor(m => m.Email, new { @class = "mx-auto mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "block mb-2 text-sm font-medium text-gray-900" })
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { @class = "mx-auto mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe, new {@class= "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" })
                        @Html.LabelFor(m => m.RememberMe, new {@class="mb-2 text-sm font-medium text-gray-900"})
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Se connecter" class="btn btn-success mt-4" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Inscrire comme nouvel utilisateur", "Register")
            </p>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}