@model IEnumerable<fondo9Sa3ada.context.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pricePerNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isOccupied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isClean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomType.roomTypeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pricePerNight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isOccupied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isClean)
        </td>
        <td>
            <img src=@item.RoomImage width=300 height=200>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roomType.roomTypeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.room_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.room_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.room_ID })
        </td>
    </tr>
}

</table>
