@model IEnumerable<fondo9Sa3ada.context.review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.review1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.customerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.review1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.customerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.review_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.review_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.review_ID })
        </td>
    </tr>
}

</table>
