@model fondo9Sa3ada.context.roomType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>roomType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numberOfBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
